.App {
  text-align: center;
}

.App-logo {
  height: 1.5vw;
  filter: invert(100%) drop-shadow(10px 10px 10px brown) ;
  filter: ;
}

.App-header {
  background-color: #222;
  height: 4vw;
  padding: 20px;
  color: white;
  text-align: center;
  font-family: 'Orbitron', serif;
  font-size: 2vw;
}

.App-intro {
  font-size: large;
}

.Clock {
  color: #222;
  font-family: 'Orbitron', serif;
  font-size: 4vw;
  margin: auto;
  text-align: center;
}

.Checkboxes {
  display:block;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 1200px;
  margin: auto;
  /*height: 0px;*/
  background-color:purple;

}

.Checkboxes .Checkbox {
  display: block;
  float: left;
  width: 25%;
  text-align: left;
}

.Slider {
  font-size: large;
  text-align: center;
  width: 33vw;
  margin: auto;
}

.Time {
  margin-top: 10px;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 12px sans-serif;

}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}


